/* Los estilos de tu proyecto */
body{
    box-sizing: border-box;
}
.left-logo{
 margin-left: 0%;
}


nav{
    background-color: white;
}
.btn-floating{
    background-color: #f7b617;
}
nav i.material-icons{
    line-height: 40px;
}
.background{
    background-image: url("../assets/images/image.png");
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.card .card-title{
    font-size: 28px;
    font-weight: bolder;
}
.format-img-white-small{
    width: 20%;
}

.format-rowvacio{
    height: 20vh;
}

.format-block-two{
    background-color: #f7b617;
}
.format-block-three{
   height: 100vh;
}
.btn{
    color:black;
    background-color: #ffffff;
    font-weight: bolder;
}
.card-format{
    background-color: #f7b617;
}

.format-div-phone{
   border: 2px solid white;
   padding:0.5em;
}
.background-img2{
    background-image: url("../assets/images/conduce.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.opaque{
    background-color: rgba(0,0,0,0.5);
    align-content: center;
    height: 60vh;
}
.page-footer{
    background-color:#2b2b2b;
}

.fab{
    margin: 0.5em;
    font-size: 15px;
}
.format-img-circule{
    margin: 20px;
}

.format-h6{
    border: 2px solid white;
    border-radius: 5%;
    padding:1em;
    font-size: 14px;
}
.maps{
    padding:1em;
    margin:0;
}
.btn-two{
    background-color: #f7b617;;
}

/*VERSION ESCRITORIO*/
nav ul a {
    color:black;
}

.format-div-phone-desktop{
    width: 85%;
    border: 2px solid white;
    margin-bottom: 2em;
 }

 #format-hr-desktop{
     margin-left:0;
     margin-right: 0;
     padding: 0;
 }

 .row{
     margin:0;
 }

#out-padding{
     padding: 0;
 }